.Busqueda{
    width: 100%;
    margin: 20px auto;
    display: flex;
}

.Botones{
    padding: 0 30px 0 40%;
    display: flex;
    justify-content: center;   
}

.Boton 
{
    margin-left: 10px;
    position: relative;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
}

.Boton i {
    position: absolute;
    inset: -2px;
    display: block;
    border-radius: 5px;
}

.Boton i,
.Boton i:nth-child(2)
{
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #90EE90)
}

.Boton i:nth-child(2)
{
    filter: blur(10px);
}

a button 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff ;
    letter-spacing: 2px;
    border: 1px solid #040a29;
    border-radius: 3px;
    background: rgba(14,21,56,0.65);
    overflow: hidden;
    cursor: pointer;
}

/* a button::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.075);
    transform: skew(25deg) ;
} */



/* .Boton {
    width: 50%;
    border-radius: 4px;
    background-color: #00ff00; 
    margin-left: 7px;
    color: black; 
    border: none; 
    padding: 0px 15px; 
    font-size: 16px; 
    cursor: pointer; 
    animation-duration: 3s; 
    animation-name: cambia-color; 
    animation-iteration-count: infinite; 
    transition: 1s;
}

.Boton a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}
  
  .Boton:hover {
    filter: grayscale(100%);
  } */



