.Principal 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card
{
    position: relative;
    max-width: 290px;
    height: 240px;
    background: #fff;
    margin: 50px 10px;
    padding: 15px;
    dispLay: flex;
    flex-direction: column;
    box-shadow: 0.5px 202px rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
}

.Card:hover
{
    height: 340px;
}

.Card .ImgBx
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
}

.Card .ImgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.Card .Content 
{
    position: relative;
    margin-top: -140px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Card:hover .Content 
{
    visibility: visible;
    opacity: 1;
    margin-top: -45px;
    transition-delay: 0.3s;
}

.Botones
{
    width: 90%;

}

.onClose
{
    left: 3px;
    top: 59px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: red;
    border: 0px;
    width: 13%;
    height: 32px;
    font-weight: bolder;
    color: #fff;
}

.Nombre
{
    text-decoration: none;
    color: #2E8B57;
}

.Nombre:hover 
{
    margin-bottom: 10px;
    color: #225137;
}

.Favoritos
{
    background: transparent;
    border: 1px solid black;
    font-size: 20px;
    position: absolute;
    width: 13%;
    right: 6px;
    top: 59px;
}