.Principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  position: relative;
  max-width: 290px;
  height: 240px;
  background: #2c2e30;
  margin: 50px 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 202px rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.Card:hover {
  height: 340px;
}

.Card .ImgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
}

.Card .ImgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.Card .Content {
  position: relative;
  margin-top: -140px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.Card:hover .Content {
  visibility: visible;
  opacity: 1;
  margin-top: -45px;
  transition-delay: 0.3s;
}

.Botones {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin-top: -6px;
  margin-left: -2px;
}

.Boton {
  position: absolute;
  width: 13%;
  margin-left: 10px;
  position: relative;
  height: 32px;
  display: inline-block;
  border-radius: 5px;
}

.Boton i {
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 5px;
}

.Boton i,
.Boton i:nth-child(2) {
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #dffa3e);
}

.Boton i:nth-child(2) {
  filter: blur(5px);
}

.Boton button {
  position: absolute;
  font-size: 17px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #040a29;
  border-radius: 3px;
  background: rgba(14, 21, 56, 0.65);
  overflow: hidden;
  cursor: pointer;
}

.Nombre {
  text-decoration: none;
  color: #2e8b57;
}

.Nombre:hover {
  margin-bottom: 10px;
  color: #225137;
}
