.Container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.Filtros {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 24.5%;
}

.Filtro {
  position: absolute;
  top: 50px;
  right: 1020px;
}

.Filtro .Selector {
  padding: 7px;
  border-radius: 0px;
  border: none;
  border-right: 1px solid #ccc;
  text-align: center;
}

.Selector option {
  padding: 7px;
}
