.About {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  width: 93%;
  min-height: 530px;
  border: 1px solid white;
  border-radius: 8px;
  background: rgb(22, 22, 76);
}
