.About {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  width: 93%;
  min-height: 600px;
  border-radius: 20px;
  background: url(./IMG/Background3.jpg);
  background-repeat: no-repeat;
}

.Presentation {
  display: block;
  position: absolute;
  text-align: start;
  width: 40%;

  right: 160px;
  top: 250px;
}

.Presentation h2 {
  font-size: 40px;
  float: left;
  width: auto;
  margin-right: 12px;
}

.Nombre {
  color: #00ff00;
}

.Clearboth {
  float: none;
  clear: both;
}

.Presentation h3 {
  font-size: 25px;
}

.Hello,
h3,
h4 {
  color: white;
}
